@use "../theme";

.favorites {
  height: 100px;
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  background: linear-gradient(
    0deg,
    theme.$gradient-color,
    theme.$background-color,
    theme.$background-color,
    theme.$background-color
  );
  display: flex;
  justify-content: space-evenly;
  box-shadow: inset 0 15px 5px -16px #fff;
}

.favorite {
  height: 80px;
  font-size: 0.8rem;
  padding: 10px;
  text-align: center;
}
