@use "./theme";
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(
    140deg,
    theme.$gradient-color,
    theme.$background-color,
    theme.$background-color
  );
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
  color: theme.$primary-color;
  display: flex;
  flex-direction: column;
}
